:root {
    font-size: 1rem;
}

body {
    background-color: white;
}

nav {
    background-color: white;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;    
}

.logo {
    width: 30px;
}

.logo2 {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.logo3 {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.logo4 {
    width: 100%;
    text-align: center;
}
.espace {
    margin-top: 30px;
}

.name {
    margin-left: auto;
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 0;
}

main {
    margin-top: 63px;
}

.h1 {
    color: #FFEC40;
    background-color: black;
    text-align: center;
    border-bottom: solid 5px #FFEC40;
    border-top: solid 5px #FFEC40;
    }

.p1 {
    background-color: black;
    color: #FFEC40;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 10px;
    margin-left: 45px;
    margin-right: 45px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border: solid 5px #FFEC40;
}

.center {
    text-align: center;
}

.p2 {
    text-align: center;
    font-size: 1.5rem;
    color: #FFEC40;
    background-color: black;
    border: solid 5px #FFEC40;
    margin-right: 100px;
    margin-left: 100px;
}

.decoration {
    text-decoration: none;
    color: #FFEC40;
}

.Photo {
    display: block;
    margin: auto;
    border: solid 5px #FFEC40;
}

.photo1 {
    display: block;
    margin-right: auto;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border: solid 5px #FFEC40;
}

.Photo2 {
    display: block;
    margin: auto;
    border: solid 5px #FFEC40;
}

.photo3 {
    display: block;
    margin-left: auto;
    border: solid 5px #FFEC40;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.texte1 {
    text-align: center;
    color: #FFEC40;
    background-color: black;
    font-size: 1.5rem;
    border-radius: 10px;
    margin-left: 42px;
    margin-right: 42px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border: solid 5px #FFEC40;
}