:root {
    font-size: 1rem;
}

body {
    background-color: #F8F9F9;
}

nav {
    background-color: #F8F9F9;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 30px;
}

.logo2 {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.logo3 {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.logo4 {
    width: 100%;
    text-align: center;
}

.espace {
    margin-top: 30px;
}

.name {
    margin-left: auto;
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 0;
    color: black;
}

main {
    margin-top: 63px;
}

.h1 {
    color: white;
    background-color: black;
    text-align: center;    
}

.p1 {    
    color: black;
    text-align: center;
    font-size: 1.5rem;
    border-radius: 5px;
    margin-left: 45px;
    margin-right: 45px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border: solid 3px black;
}

.p2 {
    text-align: center;
    font-size: 1.5rem;
    color: black;
    background-color: white;
    border: solid 3px black;
    margin-right: 100px;
    margin-left: 100px;
}

/* .decoration {
    text-decoration: none;
    color: #FFEC40;
} */

.Photo {
    display: block;
    margin: auto;
    border: solid 3px black;
}

.photo1 {
    display: block;
    margin-right: auto;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border: solid 3px black;
}

.Photo2 {
    display: block;
    margin: auto;
    border: solid 3px black;
}

.photo3 {
    display: block;
    margin-left: auto;
    border: solid 3px black;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.texte1 {
    text-align: center;
    color: black;    
    font-size: 1.5rem;
    border-radius: 5px;
    margin-left: 42px;
    margin-right: 42px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border: solid 3px black;
}

.texte2 {
    text-align: center;
    color: black;    
    font-size: 1.5rem;
    border-radius: 5px;
    margin-left: 105px;
    margin-right: 105px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border: solid 3px black;
}

.texte3 {
    text-align: center;
    color: black;    
    font-size: 1.5rem;
    border-radius: 5px;
    margin-left: 80px;
    margin-right: 80px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border: solid 3px black;
}

.info {
    text-align: center;
    color: black;    
    font-size: 1.2rem;
    border-radius: 5px;
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    border: solid 3px black;
    margin-bottom: 10px;
}

.formulaire {
    width: 100%;
    background-color: white;
    color: black;
    font-size: 1rem;
    border: solid 2px black;
    border-radius: 3px;
}

form {
    width: 80%;
    margin: auto;
}

textarea {
    width: 100%;
    background-color: white;
    color: black;
    border: solid 2px black;
    height: 80px;
    margin-bottom: 10px;
    border-radius: 3px;
}

button {
    background-color: white;
    color: black;
    border: solid 2px black;
    margin-bottom: 10px;
    border-radius: 3px;
}

.text-contact {
    color: black;
    text-align: center;
    background-color: white;
    border: solid 2px black;
    border-radius: 3px;
}

.contact {
    color: black;
}

.droite {
    text-align: center;
    margin-top: 10px;
}

input[type=checkbox] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
}

input[type=checkbox] {
    height: 12px;
    width: 12px;
    background: white;
    border: solid 2px black;
    
}

input[type="checkbox"]:checked {
    background: black;
    margin: 0px;
}

footer {
    background-color: black;
}

.text4 {
    color: white;
    text-align: center;
}

@media screen and (min-width: 1000px) {
    :root {
        font-size: 16px;
    }

    main {
        margin-top: 102px;
    }

    .logo {
        width: 60px;
    }

    .name {
        margin-left: auto;
        font-size: 2.5rem;
        margin-top: 0;
        margin-bottom: 0;
        color: black;
        margin-top: 16px;
        
    }

    .h1 {
        color: white;
        background-color: black;
        text-align: center;        
        font-size: 3rem;
    }   

    .flex {
        display: flex;
    }

    .p1 {    
        color: black;
        text-align: center;
        font-size: 1.5rem;
        border-radius: 5px;
        margin-left: 45px;
        margin-right: 45px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 3px;
        padding-bottom: 3px;
        border: solid 3px black;
    }
    
}